.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
}

.form {
  display: flex;
  flex-direction: column;
}
.work {
  margin-bottom: 1em;
}
